transformers
starlette
setuptools
urllib3
pydantic
fastapi
uvicorn[standard]
numpy
llama-index==0.9.8
python-multipart
langchain
email-validator
PyPDF2
pypdf
pydub
google-cloud-storage
google-cloud-texttospeech
google-cloud-translate
google-cloud-speech
boto3
asyncpg
pytz
ffmpeg
scikit-learn
marqo
redis
docx2txt
yt_dlp
chromadb
langchain-chroma
langchain_community